@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e83f99;
  --accent: #06D6A0;
  --primary-dark: #ab3172;
  --dark: #1E1E1E;
}

body {
  color: white;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  @apply bg-slate-950;
}

p{
  @apply text-base font-light opacity-90;
}

h1{
  @apply text-[4rem] md:text-[8rem] leading-[4rem] md:leading-[7rem] text-accent font-bebas opacity-100;
}

h2{
  @apply text-[2.5rem] font-bold md:text-4xl;
}
h2::after{
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background-color: var(--accent);
  margin-top: 10px;
}

h3{
  @apply text-2xl font-bold;
}

h4{
  @apply text-xl font-bold;
}

.link{
  @apply font-extrabold text-lg decoration-double;
}

.logo{
  @apply text-3xl font-extrabold md:text-4xl font-nunito text-primary opacity-100;
}

.menu-item{
  @apply font-bold text-2xl md:text-base;
}

.tile-number{
  @apply text-3xl md:text-[3rem] font-bold font-DMsans text-white opacity-100 md:leading-[3rem];
}

.tile-title{
  @apply text-2xl font-bold md:text-2xl;
}

label{
  @apply text-sm md:text-base font-bold;
}

input {
  @apply w-full py-4 px-6 rounded-[30px] border-2 border-white;
}

input:focus, input:active {
  @apply border-primary border-2 outline-none;
}

textarea{
  @apply w-full py-4 px-6 rounded-[30px] border-2 border-white;
}

textarea:focus, textarea:active {
  @apply border-primary border-2 outline-none;
}

button{
  @apply md:text-lg font-bold py-3 px-4 md:py-4 md:px-6 rounded-[30px]; 
}

.button-primary{
  @apply text-white bg-primary hover:bg-primaryDark; 
}

.button-secondary{
  @apply text-primary border-primary border-2; 
}

.button-secondary:hover{
  @apply border-primaryDark text-primaryDark;
  background-color: rgba(0, 0, 0, 0.3);
}
 