@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e83f99;
  --primary-dark: #b9337a;
  --dark: #26283F;
}

body {
  color: white;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  @apply bg-slate-950;
}

p{
  @apply text-base font-light opacity-80;
}

h1{
  @apply text-[6rem] md:text-[8rem] leading-[6rem] md:leading-[7rem] text-primary font-bebas;
}

h2{
  @apply text-[2.5rem] font-bold md:text-5xl;
}

h3{
  @apply text-[4rem] md:text-[5rem] font-bebas text-primary;
}

h4{
  @apply text-2xl font-bold;
}

.link{
  @apply font-extrabold text-lg;
}

.logo{
  @apply text-3xl font-extrabold md:text-4xl font-nunito text-primary opacity-100;
}

.menu-item{
  @apply font-bold text-4xl md:text-base;
}

.tile-number{
  @apply text-[3.5rem] font-bold font-DMsans text-primary opacity-100 leading-[4rem];
}

.tile-title{
  @apply text-2xl font-bold md:text-2xl;
}

label{
  @apply font-bold;
}

input {
  @apply w-full py-4 px-6 rounded-[30px] border-2 border-white;
}

input:focus, input:active {
  @apply border-primary border-2 outline-none;
}

textarea{
  @apply w-full py-4 px-6 rounded-[30px] border-2 border-white;
}

textarea:focus, textarea:active {
  @apply border-primary border-2 outline-none;
}

button{
  @apply text-lg font-bold py-4 px-6 rounded-[30px]; 
}

.button-primary{
  @apply text-white bg-primary hover:bg-primaryDark; 
}

.button-secondary{
  @apply text-primary border-primary border-2; 
}

.button-secondary:hover{
  background-color: rgba(0, 0, 0, 0.2);
}
 